<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
</head>
<body>
    <header>
        <div class="logo-container">
            <span>ECOPATROL</span>
        </div>
        <nav>
            <ul>
                <li><a href="/dashboard">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </nav>
    </header>
    <div class="content-container">
        <div class="box">
            <h2 class="my-heading">Welcome to the Dashboard</h2>
            <div class="my-div">
                <p>An Integrated Approach to Smart Urban Infrastructure: Designing and Implementing a Multi-Modal
                    Detection System for Cattle, Potholes, and Garbage Using Computer Vision and Machine Learning.
                </p>
                <p>Please feel free to use our detection models on Garbage, Pothole, and Cattle.</p>
                <div class="link-buttons">
                    <a href="/upload" class="link-button">Upload</a>
                    <a href="/view" class="link-button">View</a>
                </div>
            </div>  
        </div>
    </div>
</body>
</html>
